.card {
    width: 300px;
    min-height: 300px;
    height: auto;
    max-height: 325px;
    background-color: var(--fawn);
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    border-radius: 1.5em;
    transition: all 0.2s ease-in-out;
}

.card p {
    font-size: 1.2em;
    padding: 0;
    margin: 0;
    letter-spacing: 1px;
}

.card:hover {
    cursor: pointer;
    box-shadow: rgb(13, 19, 26) 0 20px 30px -10px;
}

.imageContainer {
    width: 100%;
    height: auto;
    margin: auto;
    padding: 0 0.5em;
}

.imageContainer > img {
    border-radius: 1.5em;
    width: 100%;
    height: auto;
}

@media (max-width: 1300px) {
    .card {
        width: 200px;
        min-height: 200px;
        height: auto;
        margin: auto;
    }
    .imageContainer {
        padding: 5px;
    }
    .imageContainer > img {
        margin: auto;
    }
}

@media (max-width: 1000px) {
    .card {
        width: 150px;
        min-height: 150px;
        height: auto;
        margin: auto;
    }
    .card p {
        font-size: 0.8em;
    }
    .imageContainer {
        padding: 5px;
    }
    .imageContainer > img {
        margin: auto;
    }
}


